* {
  text-decoration: none;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
}

/*#region HEADER */

header {
  margin: 0 auto;
  padding: 24px 0px 24px 0px;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  padding-left: 156px;
  color: #4d5ae5;
  letter-spacing: 0.03em;
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  color: #2e2f42;
  margin-right: 77px;
  letter-spacing: 0.03em;
}

.navigation-links-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 717px;
  color: #2e2f42;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.navigation-link > a {
  margin-right: 40px;
  color: #2e2f42;
}

.contacts {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 156px;
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.contacts-mail > a {
  color: #434455;
  margin-right: 40px;
}

.contacts-tel > a {
  color: #434455;
}

/* #endregion */

/*#region MAIN */

main {
  margin: 0 auto;
}

/* #region HERO */

.hero {
  background-color: #2e2f42;
  padding: 192px 0px 192px 0px;
  color: #ffffff;
}

.hero-header {
  margin: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
}

button {
  display: block;
  margin: auto;
  padding: 16px 32px;
  margin-top: 48px;
  gap: 10px;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* #endregion */

/*#region FEATURES */

.features {
  padding: 120px 156px;
}

.features-list {
  display: flex;
  margin: 0 auto;
  padding: 0px;
}

.features-li {
  margin-right: 24px;
}

.features-header {
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-description {
  margin: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion */

/*#region PORTFOLIO */

.portfolio {
  margin-bottom: 120px;
}

.portfolio-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 70px;
}

.portfolio-images {
  display: flex;
  justify-content: center;
  padding: 0px;
}

.portfolio-img {
  margin-right: 24px;
  width: 360px;
  height: 300px;
  border: 1px solid #e7e9fc;
}
.portfolio-img:last-child {
  margin-right: 0px;
}
/* #endregion */

/*#region OUR TEAM */

.our-team {
  background-color: #f4f4fd;
  padding: 120px 156px;
}

.our-team-header {
  margin: 0px;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-photos {
  margin-left: 0px;
  margin-top: 77px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.team-image {
  margin-right: 24px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-image:last-child {
  margin-right: 0px;
}

.name {
  margin-top: 30px;
  margin-bottom: 8px;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.expert {
  margin-top: 0px;
  margin-bottom: 32px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion */

/* #endregion */

/*#region FOOTER */
footer {
  background-color: #2e2f42;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-web-footer {
  margin-left: 156px;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logo-studio-footer {
  color: #f4f4fd;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
}

.footer-description-container {
  margin-top: 16px;
}

.footer-description {
  margin-left: 156px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* #endregion */ ;
